LeaveManagement/LeaveWebApp/Web References/LeaveWSR/LeaveWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Addleave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leave" type="tns:LeaveEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LeaveEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddleaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddleaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="tns:LoginEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllReasons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllReasonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllReasonsResult" type="tns:ArrayOfLeaveEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLeaveEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeaveEntity" nillable="true" type="tns:LeaveEntity" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddleaveSoapIn">
    <wsdl:part name="parameters" element="tns:Addleave" />
  </wsdl:message>
  <wsdl:message name="AddleaveSoapOut">
    <wsdl:part name="parameters" element="tns:AddleaveResponse" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="LoginUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllReasonsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllReasons" />
  </wsdl:message>
  <wsdl:message name="GetAllReasonsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllReasonsResponse" />
  </wsdl:message>
  <wsdl:portType name="LeaveWebServicesSoap">
    <wsdl:operation name="Addleave">
      <wsdl:input message="tns:AddleaveSoapIn" />
      <wsdl:output message="tns:AddleaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input message="tns:LoginUserSoapIn" />
      <wsdl:output message="tns:LoginUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReasons">
      <wsdl:input message="tns:GetAllReasonsSoapIn" />
      <wsdl:output message="tns:GetAllReasonsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LeaveWebServicesSoap" type="tns:LeaveWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addleave">
      <soap:operation soapAction="http://tempuri.org/Addleave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReasons">
      <soap:operation soapAction="http://tempuri.org/GetAllReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeaveWebServicesSoap12" type="tns:LeaveWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Addleave">
      <soap12:operation soapAction="http://tempuri.org/Addleave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap12:operation soapAction="http://tempuri.org/LoginUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReasons">
      <soap12:operation soapAction="http://tempuri.org/GetAllReasons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaveWebServices">
    <wsdl:port name="LeaveWebServicesSoap" binding="tns:LeaveWebServicesSoap">
      <soap:address location="http://localhost:64726/LeaveWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="LeaveWebServicesSoap12" binding="tns:LeaveWebServicesSoap12">
      <soap12:address location="http://localhost:64726/LeaveWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>